image: python:3.11

services:
  - name: mongo:latest
    alias: mongo

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PYTHONPATH: "$CI_PROJECT_DIR/backend"
  MONGODB_URL: "mongodb://mongo:27017/for_health"
  DATABASE_NAME: "for_health"

stages:
  - test

cache:
  key: "$CI_COMMIT_REF_SLUG-pip"
  paths:
    - .cache/pip

before_script:
  - python --version
  - python -m pip install --upgrade pip
  - python -m pip install -r backend/requirements.txt

backend-test:
  tags:
    - runner_352
  stage: test
  script:
    - cd backend
    - |
      $process = Start-Process -FilePath "python" -ArgumentList @("-m","uvicorn","app.main:app","--host","127.0.0.1","--port","8000") -PassThru
      $env:SERVER_PID = $process.Id
    - pytest
  after_script:
    - |
        if ($env:SERVER_PID) {
            try { Stop-Process -Id $env:SERVER_PID -Force }
            catch { Write-Host "Failed to stop process: $_" }
        }
