image: python:3.11

services:
  - name: mongo:latest
    alias: mongo

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PYTHONPATH: "$CI_PROJECT_DIR/backend"
  MONGODB_URL: "mongodb://mongo:27017/for_health"
  DATABASE_NAME: "for_health"

stages:
  - test

cache:
  key: "$CI_COMMIT_REF_SLUG-pip"
  paths:
    - .cache/pip

before_script:
  #- chcp 65001 > $null
  #- $env:PYTHONIOENCODING = "utf-8"
  - python --version
  - python -m pip install --upgrade pip
  - python -m pip install -r backend/requirements.txt

backend-test:
  tags:
    - runner_352
  stage: test
  script:
    - cd backend
    - python -m app.main
    - pytest tests/test_example.py -vv
  after_script:
