<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ForHealthApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- 启动入口 Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 登录 Activity -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <!-- 注册 Activity -->
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <!-- 身体数据录入 -->
        <activity
            android:name=".user.BodyDataActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <!-- 活动水平录入 -->
        <activity
            android:name=".user.ActivityLevelActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <!-- 健康目标录入 -->
        <activity
            android:name=".user.HealthGoalActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <!-- 主页 -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/AppThemeWithActionBar" />

        <!-- 个人信息 -->
        <activity
            android:name=".user.ProfileActivity"
            android:exported="false"
            android:theme="@style/AppThemeWithActionBar" />

    </application>

</manifest>
